openapi: 3.1.1

info:
  title: Axionik AI Shopping API
  version: "1.0.0"
  description: |
    Conversational shopping backend for Axionik AI.
    Used by ChatGPT Actions to browse products, manage cart,
    checkout, and track order delivery status.

servers:
  - url: https://www.axionikai.com
    description: Production server

paths:

  /health:
    get:
      operationId: healthCheck
      summary: Health check
      responses:
        "200":
          description: Server is healthy

  /chat-checkout:
    get:
      operationId: startShoppingSession
      summary: Start shopping session from chat
      description: |
        Initializes a shopping session based on chat intent.
        Returns a redirect URL with session ID.
      parameters:
        - name: intent
          in: query
          required: true
          schema:
            type: string
          example: black t-shirt
        - name: color
          in: query
          required: false
          schema:
            type: string
          example: black
        - name: size
          in: query
          required: false
          schema:
            type: string
          example: M
        - name: budget
          in: query
          required: false
          schema:
            type: number
          example: 5000
      responses:
        "302":
          description: Redirects to shop page with session ID

  /shop:
    get:
      operationId: getProducts
      summary: Fetch products for a shopping session
      parameters:
        - name: session
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Matching products
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    type: string
                  count:
                    type: integer
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"

  /add-to-cart:
    post:
      operationId: addToCart
      summary: Add product to cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session
                - productId
                - qty
              properties:
                session:
                  type: string
                productId:
                  type: string
                qty:
                  type: integer
                  minimum: 1
      responses:
        "200":
          description: Product added to cart
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /checkout/razorpay:
    post:
      operationId: createRazorpayCheckout
      summary: Create Razorpay checkout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session
              properties:
                session:
                  type: string
      responses:
        "200":
          description: Razorpay payment URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string

  /chat-track-order:
    get:
      operationId: trackOrder
      summary: Track order delivery status
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order delivery status
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Your order is currently SHIPPED
                  deliveryStatus:
                    type: string
                    enum:
                      - PROCESSING
                      - SHIPPED
                      - DELIVERED

  /admin/update-order-status:
    post:
      operationId: updateOrderStatus
      summary: Update order delivery status (Admin only)
      description: |
        Admin or automation endpoint to update order lifecycle.
        Not intended for ChatGPT auto-invocation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
                - status
              properties:
                orderId:
                  type: string
                  example: ORD-1707303123123
                status:
                  type: string
                  enum:
                    - PROCESSING
                    - SHIPPED
                    - DELIVERED
      responses:
        "200":
          description: Order updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  orderId:
                    type: string
                  deliveryStatus:
                    type: string

components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
          example: P5001
        name:
          type: string
        brand:
          type: string
        category:
          type: string
        color:
          type: string
        price:
          type: number
        quantity:
          type: integer
        sizes:
          type: array
          items:
            type: string
        images:
          type: array
          items:
            type: string
