openapi: 3.1.0
info:
  title: Axionik AI Shopping API
  version: "1.0.0"

servers:
  - url: https://www.axionikai.com

paths:
  /chat-checkout:
    get:
      operationId: startShoppingSession
      summary: Start shopping session or request email
      parameters:
        - name: email
          in: query
          schema:
            type: string
        - name: intent
          in: query
          schema:
            type: string
        - name: color
          in: query
          schema:
            type: string
        - name: size
          in: query
          schema:
            type: string
        - name: budget
          in: query
          schema:
            type: number
      responses:
        "200":
          description: Session initialized or email requested
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  session:
                    type: string

  /shop:
    get:
      operationId: getProducts
      summary: Fetch products for a session
      parameters:
        - name: session
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Product list
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    type: string
                  count:
                    type: integer
                  products:
                    type: array
                    items:
                      type: object

  /add-to-cart:
    post:
      operationId: addToCart
      summary: Add product to cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session:
                  type: string
                productId:
                  type: string
                qty:
                  type: integer
              required:
                - session
                - productId
                - qty
      responses:
        "200":
          description: Item added to cart
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /checkout/razorpay:
    post:
      operationId: createRazorpayCheckout
      summary: Create order after payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session:
                  type: string
              required:
                - session
      responses:
        "200":
          description: Order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  orderId:
                    type: string

  /chat-track-order:
    get:
      operationId: trackOrder
      summary: Track order status
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order status
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  deliveryStatus:
                    type: string
                  email:
                    type: string
