openapi: 3.1.0

info:
  title: Axionik AI Shopping API
  description: |
    Conversational shopping backend for Axionik AI.
    Designed for ChatGPT Actions with conversational-safe responses.
  version: "1.0.0"

servers:
  - url: https://www.axionikai.com
    description: Production

paths:
  /chat-checkout:
    post:
      operationId: startShoppingSession
      summary: Start or continue a shopping session
      description: |
        Starts a shopping session.
        If email is missing, returns EMAIL_REQUIRED instead of an error.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                intent:
                  type: string
                  example: black t-shirt
                color:
                  type: string
                  example: black
                size:
                  type: string
                  example: M
                budget:
                  type: number
                  example: 3000
      responses:
        "200":
          description: Session status
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        enum: [EMAIL_REQUIRED]
                      message:
                        type: string
                        example: Please provide your email address to start shopping.
                  - type: object
                    properties:
                      status:
                        type: string
                        enum: [SESSION_STARTED]
                      session:
                        type: string
                        example: sess_abc123
                      message:
                        type: string
                        example: Your shopping session has started.

  /shop:
    get:
      operationId: getProducts
      summary: Fetch products for a session
      parameters:
        - name: session
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Matching products
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    type: string
                  count:
                    type: integer
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"

  /add-to-cart:
    post:
      operationId: addToCart
      summary: Add product to cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session, productId, qty]
              properties:
                session:
                  type: string
                productId:
                  type: string
                qty:
                  type: integer
                  minimum: 1
      responses:
        "200":
          description: Added to cart
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /checkout/razorpay:
    post:
      operationId: createRazorpayCheckout
      summary: Create Razorpay checkout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session]
              properties:
                session:
                  type: string
      responses:
        "200":
          description: Razorpay payment link
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string

  /chat-track-order:
    get:
      operationId: trackOrder
      summary: Track order status
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order status
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  deliveryStatus:
                    type: string
                    enum: [PROCESSING, SHIPPED, DELIVERED]
                  message:
                    type: string

components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
          example: P5001
        name:
          type: string
        brand:
          type: string
        category:
          type: string
        color:
          type: string
        price:
          type: number
        quantity:
          type: integer
        sizes:
          type: array
          items:
            type: string
        images:
          type: array
          items:
            type: string
