openapi: 3.0.3

info:
  title: Axionik AI Shopping API
  description: Conversational shopping backend for Axionik AI used by ChatGPT Actions.
  version: "1.0.0"

servers:
  - url: https://www.axionikai.com
    description: Production server

paths:
  /chat-checkout:
    get:
      operationId: startShoppingSession
      summary: Start a shopping session from chat
      parameters:
        - name: intent
          in: query
          required: true
          schema:
            type: string
        - name: color
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: string
        - name: budget
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Shopping session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatSession"

  /shop:
    get:
      operationId: getProducts
      summary: Fetch products for a chat shopping session
      parameters:
        - name: session
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Products matching filters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"

  /add-to-cart:
    post:
      operationId: addToCart
      summary: Add a product to cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddToCartRequest"
      responses:
        "200":
          description: Product added to cart

  /checkout/razorpay:
    post:
      operationId: createRazorpayCheckout
      summary: Create Razorpay checkout session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session:
                  type: string
              required:
                - session
      responses:
        "200":
          description: Razorpay checkout created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string

  /chat-track-order:
    get:
      operationId: trackOrder
      summary: Track order conversationally
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order status
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

components:
  schemas:
    ChatSession:
      type: object
      properties:
        session:
          type: string
        filters:
          type: object
          properties:
            intent:
              type: string
            color:
              type: string
            size:
              type: string
            budget:
              type: number
        count:
          type: integer
        products:
          type: array
          items:
            $ref: "#/components/schemas/Product"

    ProductResponse:
      type: object
      properties:
        session:
          type: string
        count:
          type: integer
        products:
          type: array
          items:
            $ref: "#/components/schemas/Product"

    AddToCartRequest:
      type: object
      required:
        - session
        - productId
        - qty
      properties:
        session:
          type: string
        productId:
          type: string
        qty:
          type: integer
          minimum: 1

    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        brand:
          type: string
        category:
          type: string
        color:
          type: string
        price:
          type: number
        quantity:
          type: integer
        sizes:
          type: array
          items:
            type: string
        images:
          type: array
          items:
            type: string
