openapi: 3.1.0
info:
  title: Axionik AI Shopping API
  version: "1.0"

servers:
  - url: https://www.axionikai.com

paths:
  /chat-checkout:
    get:
      operationId: startShoppingSession
      summary: Start shopping or request email
      parameters:
        - name: email
          in: query
          schema:
            type: string
        - name: intent
          in: query
          schema:
            type: string
        - name: color
          in: query
          schema:
            type: string
        - name: size
          in: query
          schema:
            type: string
        - name: budget
          in: query
          schema:
            type: number
      responses:
        "200":
          description: Session created or email requested

  /shop:
    get:
      operationId: getProducts
      parameters:
        - name: session
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Products list

  /add-to-cart:
    post:
      operationId: addToCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Added

  /checkout/razorpay:
    post:
      operationId: createRazorpayCheckout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Order created

  /chat-track-order:
    get:
      operationId: trackOrder
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order status
