openapi: 3.0.1
info:
  title: Axionik AI Shopping API
  version: "1.0.0"

servers:
  - url: https://www.axionikai.com

paths:
  /chat-checkout:
    get:
      operationId: startShoppingSession
      parameters:
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: intent
          in: query
          schema:
            type: string
        - name: color
          in: query
          schema:
            type: string
        - name: size
          in: query
          schema:
            type: string
        - name: budget
          in: query
          schema:
            type: number
      responses:
        "200":
          description: Session started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"

  /shop:
    get:
      operationId: getProducts
      parameters:
        - name: session
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Products
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    type: string
                  count:
                    type: integer
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"

  /add-to-cart:
    post:
      operationId: addToCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session, productId, qty]
              properties:
                session:
                  type: string
                productId:
                  type: string
                qty:
                  type: integer
      responses:
        "200":
          description: Added

  /checkout/razorpay:
    post:
      operationId: checkout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session]
              properties:
                session:
                  type: string
      responses:
        "200":
          description: Order created

  /chat-track-order:
    get:
      operationId: trackOrder
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order status

components:
  schemas:
    Session:
      type: object
      properties:
        session:
          type: string
        email:
          type: string
        userId:
          type: string
        count:
          type: integer
        products:
          type: array
          items:
            $ref: "#/components/schemas/Product"

    Product:
      type: object
      required: [id, name, price, image]
      properties:
        id:
          type: string
        name:
          type: string
        brand:
          type: string
        color:
          type: string
        sizes:
          type: array
          items:
            type: string
        price:
          type: number
        image:
          type: string
          format: uri
          example: https://cdn.axionikai.com/products/P5001.jpg
